@import url('../css/reset.css');
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.eot');
    src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Black.woff2') format('woff2'), url('../fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BlackItalic.eot');
    src: url('../fonts/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-BlackItalic.woff2') format('woff2'), url('../fonts/Montserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBoldItalic.eot');
    src: url('../fonts/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'), url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.eot');
    src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'), url('../fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BoldItalic.eot');
    src: url('../fonts/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-BoldItalic.woff2') format('woff2'), url('../fonts/Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBoldItalic.eot');
    src: url('../fonts/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'), url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-SemiBold.woff2') format('woff2'), url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Medium.woff2') format('woff2'), url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-MediumItalic.eot');
    src: url('../fonts/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-MediumItalic.woff2') format('woff2'), url('../fonts/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic.eot');
    src: url('../fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Italic.woff2') format('woff2'), url('../fonts/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-LightItalic.eot');
    src: url('../fonts/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-LightItalic.woff2') format('woff2'), url('../fonts/Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLightItalic.eot');
    src: url('../fonts/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'), url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Light.woff2') format('woff2'), url('../fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.eot');
    src: url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'), url('../fonts/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ThinItalic.eot');
    src: url('../fonts/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-ThinItalic.woff2') format('woff2'), url('../fonts/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.eot');
    src: url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Thin.woff2') format('woff2'), url('../fonts/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
input,
textarea {
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
    outline: none;
}

.site-header {
    background: #000;
}

.header-block {
    max-width: 1110px;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-block ul li:not(:last-child) {
    margin-right: 16px;
}

.header-block ul li {
    height: 100px;
    line-height: 100px;
    padding: 0px 7px;
    border-bottom: 0;
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

.header-block ul li:hover {
    border-bottom: 5px solid #b88b58;
}

.header-block ul li a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.site-branding img {
    width: 50px;
    height: 51px;
}

.slider__home {
    max-height: 750px;
    overflow: hidden;
}

.slide {
    position: relative;
    max-height: 750px;
}

.slide img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.slide__content {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.slide__text {
    margin-bottom: 49px;
}

.slide__text p {
    font-size: 72px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.958;
    text-align: center;
}

.slide__text p:nth-child(2) {
    color: #b88b58;
    margin-bottom: 30px;
}

.slide__text p:last-child {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.75;
    text-align: center;
}

.button a {
    line-height: 1;
    display: block;
    text-align: center;
    padding: 17px 50px;
    border-radius: 20px;
    background-color: #b88b58;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
}

button.form-button {
    line-height: 1;
    display: block;
    text-align: center;
    border: none;
    cursor: pointer;
    padding: 17px 50px;
    border-radius: 20px;
    background-color: #b88b58;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
}

.slide__button a {
    max-width: inherit;
}

button.form-button:hover {
    background-color: #000;
}

.button a:hover {
    background-color: #000;
}

.slick-dots {
    bottom: 42px;
}

.about-us {
    padding: 63px 0 80px 0;
}

.block-title p:first-child {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    margin-bottom: 20px;
}

.block-title p:nth-child(2) {
    font-size: 14px;
    color: #aeaeae;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    margin-bottom: 50px;
}

.video {
    position: relative;
    height: 275px;
    width: 100%;
}

.video__preview {
    overflow: hidden;
    text-align: center;
    height: 275px;
    width: 100%;
}

.video__preview img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.video__preview iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.video__button {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: transparent;
    border: 3px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 35px;
    padding-top: 16px;
    padding-left: 29px;
    cursor: pointer;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
}

.video__media {
    width: 100%;
    height: 100%;
}

.about-us__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1110px;
    margin: auto;
}

.about-us__content-text {
    max-width: 635px;
    width: 100%;
    margin-right: 30px;
}

.about-us__content-text p {
    font-size: 14px;
    color: #242424;
    line-height: 1.786;
    text-align: left;
    margin-bottom: 37px;
}

.about-us__content-video {
    width: 100%;
    max-width: 445px;
    height: 275px;
    -webkit-box-shadow: 0px 13px 24px 0px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 13px 24px 0px rgba(0, 0, 0, 0.42);
}

.pricing-table {
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    background-color: #ededed;
    padding: 57px 0px 62px 0px;
}

.tariff {
    padding: 30px 0;
    width: 255px;
    background-color: #ffffff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    text-align: center;
    margin-right: 30px;
}

.tariff:last-child {
    margin-right: 0px;
}

.tariffs-plan {
    max-width: 1110px;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.tariff__title p {
    font-size: 14px;
    color: #242424;
    text-transform: uppercase;
    line-height: 1.5;
    margin-bottom: 15px;
}

.tariff__price {
    margin-bottom: 24px;
}

.tariff__price p {
    font-size: 30px;
    color: #242424;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.7;
}

.tariff__price p span {
    font-size: 10px;
    color: #aeaeae;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.tariff__options {
    margin-bottom: 28px;
}

.tariff__options p {
    position: relative;
    font-size: 10px;
    color: #7e7e7e;
    margin-bottom: 18px;
}

.tariff__options p:last-child {
    margin-bottom: 0;
}

.tariff__options p:last-child::after {
    content: '';
    bottom: 0;
    position: absolute;
}

.tariff__options p::after {
    position: absolute;
    width: 100%;
    content: '—';
    font-size: 10px;
    color: #7e7e7e;
    bottom: -16px;
    left: 0;
}

.tariff__button {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.tariff__button a {
    background: #000;
}

.tariff__button a:hover {
    background: #b88b58;
}

.contact-form {
    padding: 60px 0px 55px 0px;
    position: relative;
}

.contact-form .output-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    background: #00000085;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-form .wpcf7-response-output {
    position: relative;
    text-align: center;
    border: 0 !important;
    margin: 0 !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    border: 0;
    width: 90vw;
    height: 167px;
    overflow: hidden;
    max-width: 540px;
    background: #fff;
    z-index: 999;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 8px 0px #00000133;
    box-shadow: 0px 1px 8px 0px #00000133;
    -webkit-transition: 4s;
    -o-transition: 4s;
    transition: 4s;
}

.contact-form .content-success p {
    font-size: 14px;
    color: #aeaeae;
    line-height: 1;
}

.contact-form .content-success p:first-child {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-form__form {
    max-width: 540px;
    width: 100%;
    margin: auto;
}

.dpl {
    display: inline-block;
}

.wpcf7-form-control-wrap:has(.dpl) {
    display: inline-block;
    vertical-align: baseline;
}

.wpcf7-form-control-wrap {
    width: 100%;
}

.wpcf7-not-valid-tip {
    position: absolute;
}

.form-wrapper-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
}

.form-wrapper {
    border-bottom: 2px solid #a4a4a4e0;
    margin: 0px 15px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.form-wrapper:has(input:focus) {
    border-bottom: 2px solid #000;
}

.form-wrapper:has(textarea:focus) {
    border-bottom: 2px solid #000;
}

.contact-form__form input {
    width: 100%;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 13px 0px;
    outline: none;
}

.contact-form__form textarea {
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 13px 0px;
    outline: none;
    resize: none;
    position: relative;
    background: transparent;
}

.contact-form__form input::-webkit-input-placeholder {
    font-size: 13px;
    color: #9e9e9e;
    text-transform: uppercase;
}

.contact-form__form input::-moz-placeholder {
    font-size: 13px;
    color: #9e9e9e;
    text-transform: uppercase;
}

.contact-form__form input:-ms-input-placeholder {
    font-size: 13px;
    color: #9e9e9e;
    text-transform: uppercase;
}

.contact-form__form input::-ms-input-placeholder {
    font-size: 13px;
    color: #9e9e9e;
    text-transform: uppercase;
}

.contact-form__form input::placeholder {
    font-size: 13px;
    color: #9e9e9e;
    text-transform: uppercase;
}

.contact-form__form .form-group {
    position: relative;
    margin-bottom: 50px;
}

.contact-form__form .placeholder {
    bottom: 13px;
    font-size: 13px;
    color: #9e9e9e;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    z-index: 0;
    -webkit-transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
}

.form-button-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.site-footer {
    background: #000;
    padding: 30px 0px 45px 0px;
}

.site-footer__content {
    max-width: 1110px;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.socials {
    position: relative;
    max-width: 350px;
    width: 100%;
    margin-right: 30px;
    min-height: 100%;
}

.socials-icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.socials-icons a {
    width: 35px;
    height: 35px;
    margin-right: 7px;
    position: relative;
}

.cls-1 {
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

.socials a:hover .cls-1 {
    fill: #b88b58;
}

.footer-content {
    max-width: 350px;
    width: 100%;
}

.footer-content p {
    font-size: 12px;
    color: #7e7e7e;
    line-height: 1.75;
}

.copyrite {
    position: absolute;
    bottom: 0;
}

.copyrite p {
    font-size: 14px;
    color: #ffffff;
}

.form-modal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 0vw;
    height: 100vh;
    background: #00000085;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    z-index: 99999;
    overflow: hidden;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
}

.form-modal.hid {
    visibility: hidden;
}

.form-modal.open {
    visibility: visible;
    width: 100vw;
    height: 100vh;
}

.form-window {
    width: 350px;
    padding: 50px 65px 73px 65px;
    background: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 8px 0px #00000133;
    box-shadow: 0px 1px 8px 0px #00000133;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    position: relative;
}

.close-window {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url('../img/close.svg');
    background-size: cover;
    cursor: pointer;
    opacity: .5;
    transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -ms-transition: .2s ease-in;
    -o-transition: .2s ease-in;
}

.close-window:hover {
    opacity: 1;
}

.form-modal-wrapper {
    border-bottom: 2px solid #a4a4a4;
    margin-bottom: 30px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.form-window .wpcf7-form .form-modal-wrapper:nth-child(3) {
    margin-bottom: 40px;
}

.form-modal-wrapper:has(input:focus) {
    border-bottom: 2px solid #000;
}

.form-window input {
    width: 100%;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 13px 0px;
    outline: none;
}

.form-window input::-webkit-input-placeholder {
    font-size: 13px;
    color: #9e9e9e;
    text-transform: uppercase;
}

.form-window input::-moz-placeholder {
    font-size: 13px;
    color: #9e9e9e;
    text-transform: uppercase;
}

.form-window input:-ms-input-placeholder {
    font-size: 13px;
    color: #9e9e9e;
    text-transform: uppercase;
}

.form-window input::-ms-input-placeholder {
    font-size: 13px;
    color: #9e9e9e;
    text-transform: uppercase;
}

.form-window input::placeholder {
    font-size: 13px;
    color: #9e9e9e;
    text-transform: uppercase;
}

.form-window .form-group {
    position: relative;
    margin-bottom: 40px;
}

.form-modal-button-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.form-modal .wpcf7-response-output {
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border: 0 !important;
    position: absolute;
    margin: 0 !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    border: 0;
    width: 90vw;
    height: 167px;
    overflow: hidden;
    max-width: 540px;
    background: #fff;
    z-index: 999;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 8px 0px #00000133;
    box-shadow: 0px 1px 8px 0px #00000133;
    -webkit-transition: 4s;
    -o-transition: 4s;
    transition: 4s;
}

.form-window .content-success p {
    font-size: 14px;
    color: #aeaeae;
    line-height: 1;
}

.form-window .content-success p:first-child {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.up {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #b88b58;
    background-image: url('../img/ScrollUp.png');
    background-repeat: no-repeat;
    background-position: center 19px;
    position: fixed;
    left: 90px;
    bottom: 230px;
    opacity: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    z-index: 9999;
    cursor: pointer;
    color: #fff;
}

.up.show {
    opacity: 0.5;
}

.up.show:hover {
    background: #000;
    opacity: 1;
    background-image: url('../img/ScrollUp.png');
    background-repeat: no-repeat;
    background-position: center 19px;
}